---
title: GCDS home preview
description: Preview of the home page in the GC Design System shell. Not linked from the site.
layout: layouts/gcds-home.njk
toggle: Aperçu de l'accueil SCDG
eleventyExcludeFromCollections: true # cspell:disable-line
---
{# GCDS home preview fixture (Work Package 1). Uses layouts/gcds-home.njk. #}
