---
title: Page list table
pagination:
  data: collections.all
  size: 50000
  alias: entries
toggle: liste-des-pages-tableau
description: List of all the pages found on the Digital Accessibility Toolkit website.
fullWidth: true
wetboewRuntime: true # TRANSITION-ONLY: WET overlay for label definitions, until GCDS has a dialog
---

{% include "partials/pageListTable.njk" %}
