---
title: Aperçu de l'accueil SCDG
description: Aperçu de la page d'accueil dans l'habillage du Système de design GC. Elle n'est pas liée sur le site.
layout: layouts/gcds-home.njk
toggle: GCDS home preview
eleventyExcludeFromCollections: true # cspell:disable-line
---
{# Aperçu de l'accueil SCDG (lot de travail 1). Utilise layouts/gcds-home.njk. #}
