{% if redirect %}
	{% include "partials/redirect.njk" %}
{% else %}

{% extends "layouts/base.njk" %}

{% block content %}

<gcds-container layout="full" class="banner">
  <gcds-container layout="page" padding="200">
    <gcds-grid columns="1fr" columns-desktop="4fr 1fr" class="py-250">
      <div class="banner__box">
        <gcds-heading tag="h1" property="name" heading-role="light" margin-top="0" margin-bottom="200">
          {{ title | safe }}
        </gcds-heading>
        <p>{{ description | safe }}</p>
      </div>
    </gcds-grid>
  </gcds-container>
</gcds-container>

{% include "partials/alerts.njk" %}

<section class="container">
	<h2>{{ home[locale].explore }}</h2>
	{{ content | safe }}
	{% include "partials/collectionsMain.njk" %}
</section>

{% include "partials/updatesMain.njk" %}
{% include "partials/about.njk" %}
{% include "partials/pagedetails.njk" %}

{% endblock %}

{% endif %}
