---
title: About Us
description: Learn about this project and connect with us if you want to contribute your ideas.
toggle: À propos de nous
---

{% if collections.aboutUs === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="d-grid lg:grid-cols-2 gap-x-400 mt-400">
	{% for item in collections.aboutUs | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div>
		<h2><a href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ pathPrefix }}{{ item.url }} {% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{{ item.data.title | safe }}{% if item.data.oneLanguage %}<small></smal> {{ landingPage[locale].otherLangOnly }}</small>{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
