<gcds-grid columns="1fr" columns-desktop="1fr 1fr" gap="400" class="mt-300">
	{% for item in collections.main | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div>
		<gcds-heading tag="h3" margin-top="0" margin-bottom="100"><gcds-link href="{{ pathPrefix }}{{ item.url }}">{{ item.data.title }}</gcds-link></gcds-heading>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</gcds-grid>
