<gcds-container tag="section" layout="full" class="dev-tags bg-dark text-light mb-500">
  <gcds-container layout="page" padding="300">
    <gcds-heading tag="h2" heading-role="light" margin-top="0">
      {% if locale === "en" %}Subjects, tags and roles{% else %}Sujets, étiquettes et rôles{% endif %}
    </gcds-heading>

    <gcds-notice
      notice-role="warning"
      notice-title-tag="h3"
      notice-title="{% if locale === 'en' %}Development only{% else %}Développement seulement{% endif %}"
    >
      <p>
        {% if locale === "en" %}
          This section is for development only and will not be visible on the live site.
        {% else %}
          Cette section est réservée au développement et ne sera pas visible sur le site actuel.
        {% endif %}
      </p>
    </gcds-notice>

    <gcds-grid columns="1fr" columns-tablet="1fr 1fr 1fr" gap="300" class="mt-300">
      <div>
        {% if subject %}
          <p{% if locale === "fr" %} lang="en"{% endif %}>subject:</p>
          <ul class="list-disc">
            <li><span class="dev-tag dev-tag--subject d-inline-block px-100 bs-lg font-bold">{{ subject }}</span></li>
          </ul>
        {% elif locale === "en" %}
          <p>There is no "subject"</p>
        {% else %}
          <p>Il n'y a pas de « <span lang="en">subject</span> »</p>
        {% endif %}
      </div>

      <div>
        {% if tags %}
          <p{% if locale === "fr" %} lang="en"{% endif %}>tags:</p>
          <ul class="list-disc">
            {% for item in tags %}
              <li><span class="dev-tag dev-tag--tag d-inline-block px-100 bs-lg font-bold">{{ item }}</span></li>
            {% endfor %}
          </ul>
        {% elif locale === "en" %}
          <p>There are no "tags"</p>
        {% else %}
          <p>Il n'y a pas de « <span lang="en">tags</span> »</p>
        {% endif %}
      </div>

      <div>
        {% if role %}
          <p{% if locale === "fr" %} lang="en"{% endif %}>roles:</p>
          <ul class="list-disc">
            {% for item in role %}
              <li><span class="dev-tag dev-tag--tag d-inline-block px-100 bs-lg font-bold">{{ item }}</span></li>
            {% endfor %}
          </ul>
        {% elif locale === "en" %}
          <p>There are no "roles"</p>
        {% else %}
          <p>Il n'y a pas de « <span lang="en">roles</span> »</p>
        {% endif %}
      </div>
    </gcds-grid>
  </gcds-container>
</gcds-container>
