		<nav slot="skip-to-nav" label="{{ skipnav[locale].label }}">
			<gcds-link href="#main">{{ skipnav[locale].mainContent }}</gcds-link>
			<gcds-link href="#wb-cont">{{ skipnav[locale].aboutGovernment }}</gcds-link>
		</nav>
