---
title: L’accessibilité dans votre rôle
description: Aperçu des rôles et responsabilités pour assurer l’accessibilité dans les produits et services numériques, basé sur la cartographie des rôles et responsabilités d’accessibilité du <span lang="en">World Wide Web Consortium (W3C) - Web Accessibility Initiative (WAI)</span>.
permalink: '/{{ locale }}/roles/'
toggle: roles
eleventyExcludeFromCollections: true
tags:
  - main
---

{% include "partials/alert-landingpages.njk" %}

<div class="d-grid lg:grid-cols-2 gap-x-400 mt-400">
	{% for roleGroup in groupPairsFr %}
	<div>
		<h2>
			<a href="{{ pathPrefix }}{{ permalinkPrefix }}{{ locale }}/roles/{{ roleGroup[0] }}/">{{ roleGroup[1] }}</a>
		</h2>
		<ul class="list-none ps-0 d-flex flex-wrap gap-100">
			{% for roleLabel in roleGroup[3] %}
			<li class="dev-tag dev-tag--subject d-inline-block px-100 bs-lg font-bold">{{ roleLabel }}</li>
			{% endfor %}
		</ul>
		<p>{{ roleGroup[2] }}</p>
	</div>
	{% endfor %}
</div>
