---
title: Événements virtuels accessibles
description: Afin de vous aider à organiser et offrir une réunion/un événement virtuel entièrement accessible, qu'il s'agisse d'une session de formation, d'une réunion, d'un kiosque ou d'un événement portes ouvertes.
toggle: accessible-virtual-events
subject:
  - howTos
---

{% if collections.accessibleVirtualEvents === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="d-grid lg:grid-cols-2 gap-x-400 mt-400">
	{% for item in collections.accessibleVirtualEvents | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div>
		<h2><a{% if item.data.redirect %} rel="external"{% endif %} href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ pathPrefix }}{{ item.url }} {% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{% if item.data.internal === true %}<span class="fas fa-external-link-square-alt ms-50 me-50" aria-hidden="true"></span><span class="visibility-sr-only"> {{ alerts[locale].hiddenTextLink }}</span>{% endif %}{{ item.data.title | safe }}{% if item.data.oneLanguage %}<small> {{ landingPage[locale].otherLangOnly }}</small>{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
