{% set otherLang = "fr" if locale == "en" else "en" %}

{% if settings.env === "local" %}
	{% include "partials/pageLabel.njk" %}
{% endif %}

{% if isDraft or needsTranslation or internalLinks %}
<gcds-container layout="page" padding="300">
	<gcds-notice notice-role="warning" notice-title-tag="h2" notice-title="{{ alerts[locale].alertHeading }}" class="mt-400">
		<ul class="mb-0">
			{% if isDraft == true %}
			<li>{{ alerts[locale].draftText }}</li>
			{% endif %}
			{% if needsTranslation == true %}
			<li lang="{{ otherLang }}">{{ alerts[locale].translationText }}</li>
			{% endif %}
			{% if internalLinks == true %}
			<li>{{ alerts[locale].internalLinkText }}<i class="fas fa-external-link-square-alt" aria-hidden="true"> <span class="ms-50">{{ alerts[locale].icon }}</span></i><span class="visibility-sr-only">{{ alerts[locale].hiddenTextLink }}</span></li>
			{% endif %}
		</ul>
	</gcds-notice>
</gcds-container>
{% endif %}
