{% set onThisPage = "On this page" if locale == "en" else "Sur cette page" %}

<section>
	<h2>{{ onThisPage }}</h2>
	<ul class="d-grid grid-cols-2 md:grid-cols-3 gap-x-400 gap-y-100">
	{% for month, results in analytics %}
		<li><a href="#{{ month }}">{{ month | formatYearMonth }}</a></li>
	{% endfor %}
	</ul>
</section>
