{# Top banner #}
<div class="wb-inview show-none" aria-hidden="true" data-inview="top-bar">
	<section class="gc-archv">
		<gcds-container layout="page" padding="300">
			{%- include "partials/archived-text.njk" -%}
		</gcds-container>
	</section>
</div>

{# Replaces banner with sticky top banner #}
<section id="top-bar" class="gc-archv wb-overlay modal-content overlay-def wb-bar-t" role="alert">
	<gcds-container layout="page" padding="300">
	{%- include "partials/archived-text.njk" -%}
	</gcds-container>
</section>
