{% set newPath = page.inputPath | replace("\./", "/") %}

<aside>
  {% include "./pageListLink.njk" %}

 <gcds-container layout="page" padding="300" class="contribute">
   <gcds-grid columns="1fr" columns-tablet="5fr 7fr" gap="300">
     <div>
       <h2 class="mt-0 mb-0 text-light">
         <i class="fab fa-github fa-fw" aria-hidden="true"></i>
         {{ contribute[locale].contribute }}
       </h2>
       <p class="contribute-subtitle">{{ contribute[locale].small }}</p>
     </div>

     <div>
		<ul class="contribute-links d-flex flex-wrap gap-300 list-none p-0 mt-0 mb-200">
         <li class="d-flex align-items-center gap-100">
           <i class="fas fa-code fa-fw" aria-hidden="true"></i>
           <a class="link-light" href="https://github.com/gc-da11yn/gc-da11yn.github.io">{{ contribute[locale].see }}</a>
         </li>
         <li class="d-flex align-items-center gap-100">
           <gcds-icon name="exclamation-circle"></gcds-icon>
           <a class="link-light" href="https://github.com/gc-da11yn/gc-da11yn.github.io/issues/">{{ contribute[locale].report }}</a>
         </li>
         <li class="d-flex align-items-center gap-100">
           <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
           <a class="link-light" href="https://github.com/gc-da11yn/gc-da11yn.github.io/discussions">{{ contribute[locale].join }}</a>
         </li>
       </ul>
       <span>
         <gcds-icon name="email" margin-right="100"></gcds-icon>
         <a href="mailto:{{ contribute.email }}?subject={{ contribute[locale].emailSubject }}">{{ contribute[locale].emailText }}</a>
       </span>
     </div>
   </gcds-grid>

   {% if settings.env == "dev" %}
     <p class="mt-300">
       {{ contribute[locale].netlify }} <a href="https://www.netlify.com">Netlify</a>
     </p>
     <p>
       <a href="https://github.com/gc-da11yn/gc-da11yn.github.io/edit/main{{ newPath }}">
         {% if locale == "en" %}Edit code for the <strong>{{ title | safe }}</strong> page{% else %}Modifier le code de la page <strong>{{ title | safe }}</strong>{% endif %}
       </a>.
     </p>
   {% endif %}
 </gcds-container>
</aside>
