{% set normalizedUnit = download.unitMap[hasDocument.sizeUnit | lower] or hasDocument.sizeUnit %}
{% set translations = download[locale] %}
<div class="container-sm d-flex align-items-center gap-300 bg-light p-300 mb-400">
	<img src="{{ pathPrefix }}/img/doc.png" alt="" width="58" height="68">
	<p class="mb-0">
		<a href="{{ pathPrefix }}/docs/{{ hasDocument.filename }}" download="{{ title | stripTagsSlugify }}">{{ title | safe }}</a>
		<span class="d-block font-size-text-small">
			(<i class="fas fa-file-{{ hasDocument.type | lower }} me-50" aria-hidden="true"></i><span class="visibility-sr-only">{{ translations.type[hasDocument.type] }}</span>
			{{ hasDocument.sizeNumber }}
			<abbr title="{{ translations.sizeUnits[normalizedUnit] }}">{{ translations.localizedUnits[normalizedUnit] }}</abbr>)
		</span>
	</p>
</div>
