<gcds-footer
  display="full"
  lang="{{ locale }}"
  contextual-heading="{{ footer[locale].contextualHeader }}"
  contextual-links='{ "{{ footer[locale].contextualLinkText1 }}": "{{ footer[locale].contextualLink1 }}", "{{ footer[locale].contextualLinkText2 }}": "{{ footer[locale].contextualLink2 }}", "{{ footer[locale].contextualLinkText3 }}": "{{ footer[locale].contextualLink3 }}" }'
  sub-links='{ "{{ footer[locale].social }}": "{{ footer[locale].socialURL }}", "{{ footer[locale].mobile }}": "{{ footer[locale].mobileURL }}", "{{ footer[locale].about }}": "{{ footer[locale].aboutURL }}", "{{ footer[locale].terms }}": "{{ footer[locale].termsURL }}", "{{ footer[locale].privacy }}": "{{ footer[locale].privacyURL }}" }'
></gcds-footer>
