<gcds-footer
  id="footer"
  display="full"
  lang="{{ locale }}"
  sub-links='{ "{{ footer[locale].social }}": "{{ footer[locale].socialURL }}", "{{ footer[locale].mobile }}": "{{ footer[locale].mobileURL }}", "{{ footer[locale].about }}": "{{ footer[locale].aboutURL }}", "{{ footer[locale].terms }}": "{{ footer[locale].termsURL }}", "{{ footer[locale].privacy }}": "{{ footer[locale].privacyURL }}" }'
></gcds-footer>
