{% if locale === "en" %}
    {% set indexSlug = "how-to-create-accessible-documents" %}
    {% set indexTitle = "How to create accessible documents" %}
    {% set inOffice = "in" %}
{% else %}
    {% set indexSlug = "comment-creer-des-documents-accessibles" %}
    {% set indexTitle = "Comment créer des documents accessibles" %}
    {% set inOffice = "dans" %}
    {% set tryText = "Ce n\'est pas la version que vous recherchez ? Essayez" %}
{% endif %}

{% if tags[1] === "office2016" or page.fileSlug === indexSlug + "-" + inOffice + "-office-2016" %}
    {% set version = "Office 2016" %}
    {% set otherVersion = "Microsoft 365" %}
    {% set collections = collections.office2016 | sort(attribute='data.title') %}
{% endif %}
{% if tags[1] === "microsoft365" or page.fileSlug === indexSlug + "-" + inOffice + "-microsoft-365" %}
    {% set version = "Microsoft 365" %}
    {% set otherVersion = "Office 2016" %}
    {% set collections = collections.microsoft365 | sort(attribute='data.title') %}
{% endif %}

{% if officeTOC === true %}
    {% set versionSlug = version | slugify %}
    {% set indexURL = "/" + locale + "/" + indexSlug + "-" + inOffice + "-" + versionSlug + "/" %}
    {% if locale === "en" %}
        {% set tryText = "Looking for the " + otherVersion + " version? Try" %}
    {% else %}
        {% set tryText = "Besoin de la version " + otherVersion + " ? Essayez" %}
    {% endif %}
    <nav aria-label="{{ indexTitle }} {{ inOffice }} {{ version }}" class="mt-400 mb-400">
        <ul class="office-toc d-grid sm:grid-cols-2 lg:grid-cols-3 gap-200 list-none ps-0 mb-0">
            <li>{% if page.url === indexURL %}<span class="office-toc__item" aria-current="page">{% else %}<a class="office-toc__item" href="{{ pathPrefix }}{{ indexURL }}">{% endif %}{{ indexTitle }} <small class="d-block">{{ inOffice }} {{ version }}</small>{% if page.url === indexURL %}</span>{% else %}</a>{% endif %}</li>
            {% for item in collections | localeMatch(locale) %}
                {% set title = item.data.title %}
                <li>{% if page.url == item.url %}<span class="office-toc__item" aria-current="page">{% else %}<a class="office-toc__item" href="{{ pathPrefix }}{{ item.url }}">{% endif %}
                    {% if item.data.fontIcon %}<i class="fas fa-lg {{ item.data.fontIcon }} me-50" aria-hidden="true"></i>{% endif %}
                    {{ title | replace(inOffice + " " + version, "") }} <small class="d-block">{{ inOffice }} {{ version }}</small>{% if page.url == item.url %}</span>{% else %}</a>{% endif %}</li>
            {% endfor %}
        </ul>
    </nav>

    <div class="bg-light p-300">
        {% set versionSlug = version | slugify %}
        {% set otherVersionSlug = otherVersion | slugify %}
        <p class="mb-0">{{ tryText }} <a href="{{ pathPrefix }}{{ page.url | replace(versionSlug,otherVersionSlug) }}">{{ title | replace(inOffice + " " + version,"") }}<small><strong> {{ inOffice }} {{ otherVersion }}</strong></small></a></p>
    </div>

{% endif %}
