{# Date modified: https://design-system.canada.ca/en/components/date-modified/ #}
<gcds-container tag="section" layout="page" class="pagedetails">
  <h2 class="visibility-sr-only">{{ pagedetails[locale].pageDetailsHeading }}</h2>
  <gcds-date-modified>{{ page.date | postDate }}</gcds-date-modified>
</gcds-container>
