{#
  Role content coming soon alert
  Usage: {% include "partials/role-content-coming-soon.njk" %}
  Optional parameter: variant="group" for group pages (changes the text slightly)
#}
<gcds-notice notice-role="info" notice-title-tag="h3" notice-title="{{ alerts[locale].roleContentComingSoon }}">
  <p class="mb-0">{% if variant == "group" %}{{ alerts[locale].roleContentComingSoonTextGroup }}{% else %}{{ alerts[locale].roleContentComingSoonText }}{% endif %}</p>
</gcds-notice>
