		<nav slot="skip-to-nav" label="{{ skipnav[locale].label }}">
			<a href="#main">{{ skipnav[locale].mainContent }}</a>
			<a href="#footer">{{ skipnav[locale].aboutGovernment }}</a>
			<a class="skip-to-basic" href="?wbdisable=true">{{ skipnav[locale].basicHtml }}</a>
			<a class="skip-to-standard" href="?wbdisable=false">{{ skipnav[locale].standardVersion }}</a>
		</nav>
