<gcds-notice notice-role="info" notice-title-tag="h2" notice-title="{% if locale == 'en' %}Standard under revision{% else %}Norme en révision{% endif %}" class="mt-400">
	{% if locale == "en" %}

The standard has been removed as it’s being updated. If you have any questions, please send an email to [servicedigital-servicesnumerique@tbs-sct.gc.ca](mailto:servicedigital-servicesnumerique@tbs-sct.gc.ca).

		{% else %}

La norme a été retirée car elle est présentement en processus de révision. Si vous avez des questions, veuillez envoyer un courriel à [servicedigital-servicesnumerique@tbs-sct.gc.ca](mailto:servicedigital-servicesnumerique@tbs-sct.gc.ca).

	{% endif %}
</gcds-notice>
